---

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>japaneseNumber</title>
	</head>
	<body>
		<textarea id="arabicNumber" rows="3" oninput="getOutput()" style="width:50%">1234</textarea>
		<textarea id="japaneseNumber" rows="3" style="width:49%"></textarea>
		<script>
			const units = [
				"",
				"いち",
				"に",
				"さん",
				"よん",
				"ご",
				"ろく",
				"なな",
				"はち",
				"きゅう",
			];
			const tens = [
				"",
				"じゅう",
				"にじゅう",
				"さんじゅう",
				"よんじゅう",
				"ごじゅう",
				"ろくじゅう",
				"ななじゅう",
				"はちじゅう",
				"きゅうじゅう",
			];
			const hundreds = [
				"",
				"ひゃく",
				"にひゃく",
				"さんびゃく",
				"よんひゃく",
				"ごひゃく",
				"ろっぴゃく",
				"ななひゃく",
				"はっぴゃく",
				"きゅうひゃく",
			];
			const thousands = [
				"",
				"せん",
				"にせん",
				"さんぜん",
				"よんせん",
				"ごせん",
				"ろくせん",
				"ななせん",
				"はっせん",
				"きゅうせん",
			];

			const higher_units = ["", "まん", "おく", "ちょう"];

			function conver(num: any, s = "") {
				// 处理0的情况
				if (num === 0) {
					return "";
				}

				// 初始化结果
				let result = "";

				if (num >= 1000) {
					// 处理千位,2531
					const digit = Math.floor(num / 1000);
					result += thousands[digit] + conver(num % 1000, "");
				} else if (num >= 100) {
					// 处理百位,531
					const digit = Math.floor(num / 100);
					result += hundreds[digit] + conver(num % 100, "");
				} else if (num >= 10) {
					// 处理十位,31
					const digit = Math.floor(num / 10);
					result += tens[digit] + conver(num % 10, "");
				} else if (num > 0) {
					// 处理个位,1
					result += units[num];
				}

				result += s;

				return result;
			}

			function arabic_to_japanese(n: any) {
				n = parseInt(n);
				console.log(typeof n);
				if (n === 0) {
					return "ゼロ";
				}
				// 特殊处理
				if (n === 10000000) {
					return "いっせんまん";
				}
				let out = "";

				// 10^12 = 1兆
				out += conver(
					parseInt((BigInt(n) / BigInt(10000_0000_0000)) as any),
					higher_units[3]
				);
				//n %= 1000000000000;
				// 10^8 = 1億
				out += conver(
					parseInt((BigInt(n) / BigInt(10000_0000)) as any) % 10000,
					higher_units[2]
				);
				//n %= 100000000;
				// 10^4 = 1万
				out += conver(parseInt((n / 10000) as any) % 10000, higher_units[1]);
				//n %= 10000;
				// 10^0 = 1
				out += conver(n % 10000, "");

				return out;
			}

			function getOutput() {
				console.log("getOutput");
				const arabicNumber = (
					document.getElementById("arabicNumber") as HTMLTextAreaElement
				)?.value;
				const japaneseNumberElement = document.getElementById(
					"japaneseNumber"
				) as HTMLTextAreaElement;
				if (japaneseNumberElement) {
					japaneseNumberElement.value = arabic_to_japanese(arabicNumber);
				}
			}
			declare global {
				interface Window {
					getOutput: () => void;
				}
			}

			window.getOutput = getOutput;
			getOutput()
		</script>
	</body>
</html>
