<table>
    <thead>
      <tr>
        <th>列 1</th>
        <th>列 2</th>
        <th>列 3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>数据</td>
        <td>数据</td>
        <td>数据</td>
      </tr>
      <tr>
        <td>数据</td>
        <td>数据</td>
        <td>数据</td>
      </tr>
    </tbody>
  </table>

